# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.eslintcache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/standalone
/cache
/public/quote-attachments

# misc
.DS_Store
*.pem
/ignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

.vercel
.vscode

# typescript
*.tsbuildinfo
next-env.d.ts

# clerk configuration (can include secrets)
/.clerk/

# Prisma
/prisma/generated
/src/prisma/generated
/src/lib/prisma-bot/generated

# Scripts secrets
/scripts/user-aliases.json
/scripts/usermap.json
/scripts/quotes/out/
/scripts/quotes/stats/
/scripts/quotes/quotes_used.json

# Dump
/dump/

.claude/
/ignore
