[Unit]
Description=Yarn Start for riksdagen
After=network.target

[Service]
User=root
WorkingDirectory=/root/Riksdagen/
ExecStart=/bin/bash -c "source /root/.nvm/nvm.sh && chmod +x deploy-code/* && deploy-code/deploy.sh"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target