[Unit]
Description=PostgreSQL db for riksdagen
After=network.target

[Service]
User=riksdagen
ExecStart=/usr/lib/postgresql/15/bin/pg-ctl -D /var/lib/postgresql/data -l /var/lib/postgresql/logfile start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=3
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target