[Unit]
Description=PostgreSQL db for riksdagen
After=network.target

[Service]
User=riksdagen
ExecStart=/usr/lib/postgresql/15/bin/pg_ctl start -D /var/lib/postgresql/15/main -l /var/log/postgresql/postgresql-15-main.log -s -o "-c config_file=/etc/postgresql/17/main/postgresql.conf"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=3
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target