[Unit]
Description=Run Ping Riksdagen API periodically
Requires=spotify-ping.service

[Timer]
Unit=spotify-ping.service
OnUnitActiveSec=20m
OnBootSec=1m

[Install]
WantedBy=timers.target